.aboutContainer {
  font-family: "Poppins", sans-serif;
}

.aboutContainer h2 {
  font-size: var(---introducedMeTxt-font-size);
  font-weight: 600;
}

.esseyTxt span {
  color: #20c997;
}

.esseyTxt p {
  line-height: 30px;
  opacity: 0.8;
  text-align: justify;
}

.centerTxt {
  margin: 10px 0;
}

.contactTxt p {
  margin: 15px 0;
  opacity: 0.8;
}

.contactTxt span {
  font-weight: 600;
  opacity: 0.8;
  margin-right: 3px;
}

.aboutBtn{
  margin-top: -40px;
}

.btnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
