.longText {
  text-align: justify;
}

button.rec-dot {
  background-color: #cccccc;
  box-shadow: 0 0 1px 3px #cccccc;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(32, 201, 151, 0.5);
  background-color: #20c997;
}
