
.btn{
    width:145px;
    height: 48px;
    margin-top: 10px;
    color:#20C997;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    border: 2px solid #20C997;
    background: transparent;
    cursor: pointer;
}