.btn-outlined {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #20c997;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: 2px solid #20c997;
  background: transparent;
  cursor: pointer;
  padding: 25px 45px;
  transition: all 0.5s ease;
}

.btn-outlined:hover {
  background-color: #20c997;
  color: white;
}

.btn-outlined-ash {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #6b747c;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: 2px solid #6b747c;
  background: transparent;
  cursor: pointer;
  padding: 25px 45px;
  transition: all 0.5s ease;
}

.btn-outlined-ash:hover {
  background-color: #6b747c;
  color: white;
}

.btn-contained {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: 2px solid #20c997;
  background: #20c997;
  cursor: pointer;
  padding: 25px 45px;
  transition: all 0.5s ease;
}

.btn-contained:hover {
  background-color: #1baa80;
  border: 2px solid #1baa80;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
