.recommendationLayout{
    height:350px;
    padding:40px;
    background-color: #F8F9FA;
    font-family: "Poppins",sans-serif;
    margin-right: 25px;
}


.post{
    opacity: 0.8;
    margin-top: 10px;
}